body{
    display: flex;
    justify-content: center;
}
.contenedor{
    width: 1366px;
    display: grid;
    grid-template-rows: 135px 950px 80px;
    grid-row-gap: 20px;

    grid-template-areas: 
    
    1;
}
h1{
    display: flex;
    justify-content: center;
    padding: 0;
}
h1 img{
    width: 8%;
}
nav{
    display: flex;
    justify-content:space-between;
}
.imagenes{
    width: 1366px;
}
.pic1{
    display:flex;
    width:100%;
}
.pic2{
    display:flex;
    width:100%;
    padding:10px 0 0 0;
}
p{
    padding: 0;
    width:50%;
}
header, main, footer{
    background-color:rgba(255, 127, 80, 0.473)
}